<ion-header>
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.pn" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Modos de control</ion-card-subtitle>
        
        <ion-segment color="success">
            <ion-segment-button checked>
                <p><ion-icon name="leaf"></ion-icon></p>
                <ion-label color="">Eco</ion-label>
            </ion-segment-button>

            <ion-segment-button (ionSelect)="enviareste()">
              <p><ion-icon name="eye"></ion-icon></p>
              <ion-label color="">Vigilancia</ion-label>          
            </ion-segment-button>
       
            <ion-segment-button (ionSelect)="presentAlertConfirm()">
                <p><ion-icon name="hand"></ion-icon></p>
                <ion-label color="">Manual</ion-label>
            </ion-segment-button> 
        </ion-segment>
      </ion-card-header>
    </ion-card>

    <ion-card>      
      <ion-list>
        <ion-item>
          <ion-label>Foco 1</ion-label>
          <ion-toggle [(ngModel)]="foco1" (ionChange)="foco1change()"></ion-toggle>
        </ion-item>
      </ion-list>


    </ion-card>
</ion-content>
